<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<main th:fragment="content">
    <h1>Noticias</h1>
    <div th:if="${vistaNoticia}">
        <p th:text="${#temporals.format(vistaNoticia.fechaYHora, 'dd/MM/yyyy HH:mm:ss')}"></p>
        <h2 th:text="${vistaNoticia.titulo}"></h2>
        <h3 th:text="${vistaNoticia.subtitulo}"></h3>
        <p th:text="${vistaNoticia.cuerpo}"></p>
        <img th:src="@{/imagenes/noticias/{foto}(foto=${vistaNoticia.foto})}"/>
    </div>
    <div th:unless="${vistaNoticia}">
        <p>No hay noticias disponibles.</p>
    </div>

    <div class="noticias-miniatura">
        <h3>Otras Noticias</h3>
        <div class="miniatura"></div>
    </div>

</main>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/miniatura.js}"></script>
</html>
